
#profile {
 border-collapse: collapse;
 width: 80%;
 margin: 10px;
}

#profile td {
  text-align: left;
  padding: 8px;
  width: 50%;
}

#all td{
  text-align: left;
  padding: 8px;
  width: 50%;
}

#profile tr:nth-child(even){background-color: #f2f2f2}
#profile tr:hover{background-color: #ddd}

#button1 {
  font-size: 16px;
  background-color: #6060aa;
  color: white;
  padding: 14px 20px;
   margin: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#button1:hover {
  background-color: white;
  padding: 12px 18px;
  border: 2px solid #6060aa;
  color: black;
  
}

#button2 {
  background-color: #ff2e01;
  color: white;
  padding: 14px 20px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#button2:hover {
  background-color: white;
  padding: 12px 18px;
  border: 2px solid #ff2e01;
  color: black;
  
}

.login {
background-color: white;

  
  border-radius: 5px;
  overflow: hidden;    
  padding: 8px;
  margin: 10px;
  
}
